* {
    margin: 0;
    padding: 0;
}

body {
    background-color: navajowhite;
    font-family: 'Edu SA Beginner', cursive;

}



/* Eid Planning Started*/


.container {
    width: 1200px;
    margin: 0 auto;
    background-color: white;


}

.eid {
    background-color: aliceblue;
    background-image: url(images/cow-bidesh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(black navy);
    width: 100%;
    height: 450px;
    color: goldenrod;



}


.eid-plan {

    font-size: 50px;
    text-transform: uppercase;


}

.btn {
    background-color: rgb(151, 108, 92);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    word-spacing: 0px;
}

.eidul-adha {
    width: 50%;
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    word-spacing: 10px;
}

.eidul-adha p {
    font-size: 20px;
}


/* Eid Planning Ended */


/* Qurbani Added */
.Qurbani {
    display: flex;
    padding: 100px;


}

.festive1 h1 {
    font-size: 50px;
}

.festive1 {
    float: left;
    width: 50%;
    padding-right: 50px;
    padding-top: 30px;
    font-size: 20px;

}

.festive2 img {
    width: 500px;
    height: 450px;
    float: right;
    border-radius: 30px;

}


/* Eid Salah */

.salah {
    display: flex;
    padding-bottom: 100px;
}

.salah h1 {
    font-size: 50px;
}

.salah1 img {
    width: 500px;
    height: 450px;
    float: left;
    border-radius: 30px;
    margin-left: 90px;
}

.salah2 {
    float: right;
    padding-left: 100px;
    padding-top: 50px;
    width: 40%;
    font-size: 20px;
}


/* Qurbani Ended */


/* Importance added */
.important {
    text-align: center;
}

.important h1 {
    font-size: 50px;

}

.important p {
    font-size: 20px;

}


/* Importance ended */


/* Activites added */

.four-activities {
    display: grid;
    grid-template-columns: auto auto;
    padding: 60px;
}

.four-activities h2 {
    font-size: 40px;
}

.grid-items-1 {

    background-color: antiquewhite;
    padding: 40px;
    margin-right: 30px;
    border-radius: 20px;

}

.grid-items-2 {
    padding: 20px;
    background-color: antiquewhite;
    padding: 40px;
    border-radius: 20px;



}

.grid-items-3 {

    background-color: antiquewhite;
    margin-right: 30px;
    margin-top: 30px;
    padding: 40px;
    border-radius: 20px;
}

.grid-items-4 {
    background-color: antiquewhite;
    margin-top: 30px;
    padding: 40px;
    border-radius: 20px;
}

/* Activites ended */

/* Adha added */
.adha img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;


}

/* Adha ended */

/* Footer added */
.foot {
    height: 150px;
    background-color: black;
    padding-top: 70px;
    text-align: center;

}

.foot h1 {
    color: red;
}

.foot p {
    color: white;
}

/* Footer ended */